<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-grid>
      <ion-row>
        <ion-col class="toolbar-title-column">
          <ion-title>
            r/{{passedSubredditName}}
            <div style="font-size: 1.35rem" >
              {{subTypeOfPage}}
            </div>
          </ion-title>
        </ion-col>
        <ion-col>
          <button class="dropdown-button" ion-button icon-only (click)="openSortingPopover($event)">
            <ion-icon name="md-arrow-dropdown"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>

<ion-content class="background">

  <div class="no-data-dialog" *ngIf="isThereData === false">There doesn't appear to be anything here</div>

  <ion-list>

    <ion-card class="card" *ngFor="let feedItem of feed">
      <ion-row>
        <ion-col padding (click)="goToItemDetail(feedItem)">
          <span class="title">{{feedItem.data.title | slice: 0: (feedItem.data.thumbnail !== 'default' && feedItem.data.thumbnail !== 'self' ? 35 : 95) }}</span><span *ngIf="feedItem.data.title.length > 35" class="title">...</span>
          <br/>
          <span class="subreddit">{{feedItem.data.subreddit}}</span>
          <span *ngIf="feedItem.data.link_flair_text !== null && feedItem.data.link_flair_text !== ''" class="bullet">&sdot;</span>
          <span *ngIf="feedItem.data.link_flair_text !== null && feedItem.data.link_flair_text !== ''" class="link-flair">{{feedItem.data.link_flair_text}}</span>
          <span class="bullet">&sdot;</span>
          <span class="url">{{feedItem.data.domain}}</span>
          <span class="bullet">&sdot;</span>
          <span class="posted-time">{{feedItem.data.hoursAgo}}</span>
          <br/>
          <span class="upvotes">{{feedItem.data.ups}}</span>
          <span class="bullet">&sdot;</span>
          <span class="comments">{{feedItem.data.num_comments}} comments</span>
          <span class="gilded" *ngIf="feedItem.data.gilded > 0">&nbsp;x{{feedItem.data.gilded}}</span>
        </ion-col>
        <ion-col class="thumbnail-column" *ngIf="feedItem.data.thumbnail !== 'default' && feedItem.data.thumbnail !== 'self'" width-33
                 (click)="openImage(feedItem)">
          <img class="thumbnail" src="{{feedItem.data.thumbnailImage}}">
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-list>

</ion-content>
