<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-grid>
      <ion-row>
        <ion-col class="toolbar-title-column">
          <ion-title>
            {{username}}
            <div style="font-size: 1.35rem">
              {{subTypeOfPage}}
            </div>
          </ion-title>
        </ion-col>
        <ion-col>
          <button class="dropdown-button" ion-button icon-only (tap)="openSortingPopover($event)">
            <ion-icon name="md-arrow-dropdown"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content class="background">

  <ion-grid text-center class="user-info-panel">
    <ion-row>
      <ion-col width-20>
        <div class="number-data">{{formatToThousand(user.commentKarma)}}</div>
        <span class="category-titles">Comment Karma</span>
      </ion-col>
      <ion-col width-20 offset-20>
        <div class="number-data">{{formatToThousand(user.postKarma)}}</div>
        <span class="category-titles">Post Karma</span>
      </ion-col>
      <ion-col width-20 offset-20>
        <div class="number-data">{{getHoursAgo(user.createdUTC)}}</div>
        <span class="category-titles">Account Age</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <!--TODO: Throw error message if no user found-->
    <ion-card class="card" *ngFor="let post of posts">
      <ion-row *ngIf="isUserComment(post.contentType)">
        <ion-col (tap)="goToItemDetail(post)" class="info-comment-column">
          <span class="author-name">{{post.author.name}}</span>
          <span class="upvotes">
            <ion-icon name="arrow-up" class="comments-icon"></ion-icon>
          </span>
          <span class="upvotes-icon">{{formatToThousand(post.ups)}}</span>
          <span class="posted-time">{{getHoursAgo(post.created_utc)}}</span>
          <span class="gilded" *ngIf="postIsGilded(post.gilded)">x{{post.gilded}}</span>
          <div class="post-title">{{truncateCommentTitle(post.body)}}</div>
          <br/>

          <div class="comment-parent">
            <span class="comment-parent-title">{{post.link_title}}</span>
            <div class="comment-parent-subreddit">{{post.subreddit.display_name}}</div>
          </div>

        </ion-col>
        <ion-col [ngStyle]="{'background-image': 'url(' + post.thumbnailImage + ')'}"
                 class="thumbnail-column"
                 *ngIf="hasThumbnail(post)"
                 (tap)="openImage(post)">
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isUserSubmittedPost(post.contentType)">
        <ion-col (tap)="goToItemDetail(post)" class="info-column">
          <span class="post-title">{{truncateTitle(post)}}</span>
          <br/>
          <span class="subreddit">{{post.subreddit.display_name}}</span>
          <span *ngIf="hasLinkFlair(post.link_flair_text)" class="bullet">&sdot;</span>
          <span *ngIf="hasLinkFlair(post.link_flair_text)" class="link-flair">{{post.link_flair_text}}</span>
          <span class="bullet">&sdot;</span>
          <span class="url">{{post.domain}}</span>
          <span class="bullet">&sdot;</span>
          <span class="posted-time">{{post.hoursAgo}}</span>
          <br/>
          <span class="upvotes">
            <ion-icon name="arrow-up" class="comments-icon"></ion-icon>
          </span>
          <span class="upvotes">{{formatToThousand(post.ups)}}
          </span>
          <span class="bullet">&sdot;</span>
          <span class="comments">
            <ion-icon name="chatbubbles" class="comments-icon"></ion-icon>
          </span>
          <span class="comments">{{formatToThousand(post.num_comments)}}</span>
          <span class="bullet" *ngIf="postIsGilded(post.gilded)">&sdot;</span>
          <span class="gilded" *ngIf="postIsGilded(post.gilded)">x{{post.gilded}}</span>
        </ion-col>
        <ion-col [ngStyle]="{'background-image': 'url(' + post.thumbnailImage + ')'}"
                 class="thumbnail-column"
                 *ngIf="hasThumbnail(post)"
                 (tap)="openImage(post)">
        </ion-col>
      </ion-row>

    </ion-card>

    <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>

</ion-content>
