page-user-search {

  .comment-body {
    color: #a0a2a7;
    font-size: 1.60rem;
  }

  .thumbnail {
    display: inline-block;
    height: 100%;
    max-height: 175px;
  }

  .thumbnail-column {
    max-height: 175px;
    padding: 0;
  }

  .card {
    background-color: #1b2836;
    max-height: 175px;
  }

}
