page-user-search {

  .comment-body {
    color: #a0a2a7;
    font-size: 1.60rem;
  }

  .dropdown-button {
    float: right !important;
    position: absolute !important;
    bottom: 5% !important;
    left: 45% !important;
    background-color: transparent !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0) !important;
  }

}
