<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-grid>
      <ion-row>
        <ion-col class="toolbar-title-column">
          <ion-title>
            {{username}}
            <div style="font-size: 1.35rem">
              {{subTypeOfPage}}
            </div>
          </ion-title>
        </ion-col>
        <ion-col>
          <button class="dropdown-button" ion-button icon-only (tap)="openSortingPopover($event)">
            <ion-icon name="md-arrow-dropdown"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content class="background">

  <div class="user-info-panel">
    <div>Comment Karma {{user.commentKarma}}</div>
    <div>Post Karma {{user.postKarma}}</div>
    <div>Account Age {{user.createdUTC}}</div>
  </div>

  <ion-list>
    <div class="no-data-dialog" *ngIf="isThereData === false">There doesn't appear to be anything here</div>

    <ion-card class="card" *ngFor="let post of posts">
      <ion-row>
        <ion-col padding (tap)="goToItemDetail(post)">
          <span class="title">{{post.title | slice: 0: (post.thumbnail !== 'default' && post.thumbnail !== 'self' ? 35 : 85) }}</span>
          <span *ngIf="post.link_title != undefined"
                class="title">{{post.link_title | slice: 0:80 }}</span>
          <span *ngIf="post.title != undefined && post.title.length > 80" class="title">...</span>
          <span *ngIf="post.link_title != undefined && post.link_title.length > 80"
                class="title">...</span>
          <br/>

          <span *ngIf="post.hasOwnProperty('body')"
                class="comment-body">{{post.body | slice: 0:75}}</span>
          <span *ngIf="post.hasOwnProperty('body') && post.body.length > 75"
                class="comment-body">...</span>
          <br *ngIf="post.hasOwnProperty('body')"/>

          <span class="subreddit">{{post.subreddit}}</span>
          <span *ngIf="post.hasOwnProperty('link_flair_text') && post.link_flair_text !== null"
                class="bullet">&sdot;</span>
          <span *ngIf="post.hasOwnProperty('link_flair_text')" class="link-flair">{{post.link_flair_text}}</span>
          <span *ngIf="post.hasOwnProperty('link_flair_text')" class="bullet">&sdot;</span>
          <span class="url">{{post.domain}}</span>
          <span class="bullet">&sdot;</span>
          <span class="posted-time">{{post.hoursAgo}}</span>
          <br/>
          <span class="upvotes">{{post.ups}}</span>
          <span class="bullet">&sdot;</span>
          <span *ngIf="post.hasOwnProperty('num_comments')" class="comments">{{post.num_comments}} comments</span>
          <span *ngIf="!post.hasOwnProperty('num_comments')" class="comments">comments not available</span>
          <span class="gilded" *ngIf="post.gilded > 0">&nbsp;x{{post.gilded}}</span>
        </ion-col>
        <ion-col [ngStyle]="{'background-image': 'url(' + post.thumbnailImage + ')'}"
                 class="thumbnail-column" *ngIf="post.hasOwnProperty('thumbnailImage')" width-33
                 (tap)="openImage(post)">
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-list>

</ion-content>
