page-home-item-detail {

  .background {
    background-color: #1b2836;
  }

  .header-image {
    width: 100%;
    height: 50%;
  }

  .seperator {
    height: 1px;
    border-bottom: 1px solid #263441;
  }

  .row-icon {
    color: #A0A2A8;
  }

  .selftext-background {
    background-color: #243447;
  }

  .post-creator-username {
    color: #ff5252;
    font-size: 1.35rem;
  }

  .selftext {
    color: #ededed;
    font-size: 1.55rem;
  }

  .upvotes {
    font-size: 1.90rem;
  }

}
