page-home-item-detail {

  .card {
    background-color: #141D28;
  }
  .title {
    color: #E8E8E8;
    font-size: 1.85rem;
  }
  .subreddit {
    color: #FB3841;
  }
  .url {
    color: #8E9096
  }
  .posted-time {
    color: #8E9096;
  }
  .upvotes {
    color: #8E9096;
    font-weight: 600;
    font-size: 1.60rem;
  }
  .comments {
    color: #8E9096;
    font-size: 1.60rem;
  }
  .gilded {
    color: #F29010;
    font-size: 1.75rem;
  }
  .bullet {
    color: #8E9096;
  }
  .header-image {
    width: 100%;
    height: 50%;
  }

  .seperator {
    height: 1px;
    border-bottom: 1px solid #263441;
  }

  .row-icon {
    color: #A0A2A8;
  }

}
