<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{post.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-card class="card-detail-view" *ngIf="hasThumbnail(post)">
    <img class="header-image" src="{{post.thumbnailImage}}">
  </ion-card>

  <ion-row>
    <ion-col class="info-column">
      <span class="post-title">{{post.title}}</span>
      <br/>
      <span class="subreddit">{{post.subreddit.display_name}}</span>
      <span *ngIf="hasLinkFlair(post.link_flair_text)" class="bullet">&sdot;</span>
      <span *ngIf="hasLinkFlair(post.link_flair_text)" class="link-flair">{{post.link_flair_text}}</span>
      <span class="bullet">&sdot;</span>
      <span class="url">{{post.domain}}</span>
      <span class="bullet">&sdot;</span>
      <span class="posted-time">{{post.hoursAgo}}</span>
      <br/>
      <span class="upvotes">
            <ion-icon name="arrow-up" class="comments-icon"></ion-icon>
          </span>
      <span class="upvotes">{{formatToThousand(post.ups)}}
          </span>
      <span class="bullet">&sdot;</span>
      <span class="comments">
            <ion-icon name="chatbubbles" class="comments-icon"></ion-icon>
          </span>
      <span class="comments">{{formatToThousand(post.num_comments)}}</span>
      <span class="bullet" *ngIf="postIsGilded(post.gilded)">&sdot;</span>
      <span class="gilded" *ngIf="postIsGilded(post.gilded)">x{{post.gilded}}</span>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="hasSelfText(post.selftext)">
    <ion-col padding class="selftext-background">
      <div class="post-creator-username">{{post.author.name}}</div>
      <div [innerHTML]="post.selftext_html_parsed" class="selftext"></div>
    </ion-col>
  </ion-row>

  <div class="seperator"></div>
  <div class="loading-bar" *ngIf="!loadedComments"></div>

  <comments-list [comments]="comments"></comments-list>
</ion-content>
