// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Toolbar
.toolbar-background {
  background-color: #243447;
}

.toolbar-title {
  color: white;
}

.bar-button {
  color: white;
}

.toolbar-title-column {
  flex: 0;
  -webkit-flex: 0;
}

.dropdown-button {
  background-color: transparent !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0) !important;
}

.background {
  background-color: #17212d;
}

//Card
.card {
  background-color: #1b2836;
  max-height: 165px;
}

.card-detail-view {
  max-height: none;
}

.thumbnail-column {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  max-width:100px;
}

.info-column {
  padding: 15px;
}

.info-comment-column {
  padding: 10px;

  .author-name {
    color: #c1c2c5;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .upvotes {
    margin-left: 5px;
    color: #a0a2a7;
    font-size: 1.60rem;
  }

  .upvotes-icon {
    position: relative;
    top: 1px;
    margin-left: 3px;
    color: #a0a2a7;
    font-size: 1.60rem;
  }

  .posted-time {
    color: #a0a2a7;
    margin-left: 3px;
  }

  .gilded {
    color: #F29010;
    font-size: 1.75rem;
    margin-left: 3px;
  }

  .post-title {
    color: #ededed;
    font-size: 1.65rem;
    margin-top: 5px;
  }

  .comment-parent {
    background-color: #0d1219;
    padding: 8px;
    border-radius: 5px;
    margin-top: -10px;

    .comment-parent-title {
      color: #a0a2a7;
    }

    .comment-parent-subreddit {
      color: #ff5252;
      margin-top: 5px;
    }
  }
}

.thumbnail {
  display: inline-block;
  height: 100%;
  max-height: 165px;
}

.sub-type {
  font-size: 1.35rem;
}

.title {
  color: #ededed;
  font-size: 1.85rem;
}

.post-title {
  color: #ededed;
  font-size: 1.85rem;
}

.subreddit {
  color: #ff5252;
}

.url {
  color: #a0a2a7
}

.posted-time {
  color: #a0a2a7;
}

.upvotes {
  color: #a0a2a7;
  font-size: 1.60rem;
}

.comments {
  color: #a0a2a7;
  font-size: 1.60rem;
}

.comments-icon {
  position: relative;
  top: 1px;
  font-size: 1.60rem;
}

.link-flair {
  background-color: #444444;
  color: #a0a2a7;
  border-radius: 25px;
  padding: 0 5px;
}

.gilded {
  color: #F29010;
  font-size: 1.75rem;
}

.bullet {
  color: #a0a2a7;
}

.no-data-dialog {
  color: #a0a2a7;
  font-size: 1.40rem;
  position: fixed;
  top: 25%;
  text-align: center;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -350%);
}

//Side menu
.side-menu-item-title {
  color: #ededed;
  width: 100%;
  padding: 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(34, 34, 34, 0);
  font-size: 1.6rem !important;
  background-color: #17212d !important;
  font-weight: 500;
}

.item-md.item-block .item-inner { // This removes the lines on the bottom of each item
  border-bottom: 0;
}

.side-menu-item-icon {
  color: white;
  padding-left: 10px;
  padding-top: 0px;
  font-size: 20px;
}

.side-menu-subscriptions-group-title {
  background-color: #17212d !important;
  color: #a0a2a7 !important;
  font-weight: 600;
  border-bottom: 0 !important;
  padding-left: 25px !important;
}

.side-menu-subscriptions-group-subscription-title {
  background-color: #17212d !important;
  color: #a0a2a7 !important;
  border-bottom: 0 !important;
}

.side-menu-divider {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #263441;
}
.search-dropdown-icon {
  margin-left: 54% !important;
}

// Alert Dialog - The rest is in theme/variables.scss
.alert-dialog {
  color: white;
}

// Search FAB
.search-fab {
  bottom: 15px !important;
  right: 15px !important;
  button {
    background-color: #ff5252 !important;
  }
}

// Popover
.popover-md .popover-content {
  background: transparent;
}
.sort-popover {
  background-color: #17212d !important;
  color: #a0a2a7 !important;
}
