// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Toolbar
.toolbar-background {
  background-color: #1B2636;
}
.toolbar-title {
  color: white;
}
.bar-button {
  color: white;
}

.background {
  background-color: #11171F;
}

//Card
.card {
  background-color: #141D28;
}
.title {
  color: #E8E8E8;
  font-size: 1.85rem;
}
.subreddit {
  color: #FB3841;
}
.url {
  color: #8E9096
}
.posted-time {
  color: #8E9096;
}
.upvotes {
  color: #8E9096;
  font-weight: 600;
  font-size: 1.60rem;
}
.comments {
  color: #8E9096;
  font-size: 1.60rem;
}
.link-flair {
  color: #8E9096;
}
.gilded {
  color: #F29010;
  font-size: 1.75rem;
}
.bullet {
  color: #8E9096;
}
