.comments-list {

  ion-item {
    margin-top: 5px;
    background-color: #1b2836;
    padding-left: 10px;

    > .item-inner {
      padding-right: 0 !important;
    }

    * {
      white-space: normal;
    }

    .comment-author {
      font-size: 1.65rem;
      color: #ff5252;
    }

    .comment-score {
      font-size: 1.3rem;
      color: #a0a2a7;
      margin-right: 5px;
      float: right;
    }

    .comment-dropdown-icon {
      position: relative;
      bottom: 9px;
      right: 8px;
      float: right;
      font-size: 1.6em;
    }

    .comment-time-ago {
      font-size: 1.3rem;
      color: #a0a2a7;
      float: right;
    }

    .comment-body {
      margin-top: 10px;
      color: #ededed;
    }

    ion-label {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  .comment-item {
    position: relative;
    bottom: 4px;
  }

  .line-seperator {
    margin-top: 12px;
    height: 1px;
    border-bottom: 1px solid #263441;
  }

}

